<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated resultdecorator -->
      <package
            uri="http://palladiosimulator.org/Analyzer/ResultDecorator/1.0"
            class="org.palladiosimulator.analyzer.resultdecorator.ResultdecoratorPackage"
            genModel="model/resultdecorator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated resultdecorator -->
      <package
            uri="http://palladiosimulator.org/Analyzer/ResultDecorator/Repository/1.0"
            class="org.palladiosimulator.analyzer.resultdecorator.repositorydecorator.RepositorydecoratorPackage"
            genModel="model/resultdecorator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated resultdecorator -->
      <parser
            type="repositorydecorator"
            class="org.palladiosimulator.analyzer.resultdecorator.repositorydecorator.util.RepositorydecoratorResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated resultdecorator -->
      <package
            uri="http://palladiosimulator.org/Analyzer/ResultDecorator/ResourceEnvironment/1.0"
            class="org.palladiosimulator.analyzer.resultdecorator.resourceenvironmentdecorator.ResourceenvironmentdecoratorPackage"
            genModel="model/resultdecorator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated resultdecorator -->
      <parser
            type="resourceenvironmentdecorator"
            class="org.palladiosimulator.analyzer.resultdecorator.resourceenvironmentdecorator.util.ResourceenvironmentdecoratorResourceFactoryImpl"/>
   </extension>
</plugin>
